.expenses {
  height: 100%;
  position: relative;
  overflow: hidden;
  overflow-y: auto;
}

.expenses .expenseGroup, .expenses .expenseList {
  list-style-type: none;
}

.expenses .expenseGroupHeading {
  position: sticky;
  top: 0;
  padding: 0.5rem 1rem;
  background-color: hsl(0, 0%, 90%);
  font-weight: 600;
  color: var(--color-brand);
}

.expenses .expense {
  border-bottom: var(--border-width-thin) solid hsl(0, 0%, 90%);
}

.expenses .expenseButton {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
  background-color: transparent;
  text-align: left;
}

.expenses .expense .left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.3rem solid hsl(0, 0%, 75%);
}

.expenses .expense.transport .left {
  border-left-color: var(--color-category-transport);
}

.expenses .expense.plane .left {
  border-left-color: var(--color-category-plane);
}

.expenses .expense.hotel .left {
  border-left-color: var(--color-category-hotel);
}

.expenses .expense.food .left {
  border-left-color: var(--color-category-food);
}

.expenses .expense .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  padding: 1rem 0;
}

.expenses .expense .categoryIcon {
  background-color: hsl(0, 0%, 75%);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%);
}

.expenses .expense.transport .categoryIcon {
  background-color: var(--color-category-transport);
}

.expenses .expense.plane .categoryIcon {
  background-color: var(--color-category-plane);
}

.expenses .expense.hotel .categoryIcon {
  background-color: var(--color-category-hotel);
}

.expenses .expense.food .categoryIcon {
  background-color: var(--color-category-food);
}

.expenses .expense .categoryName {
  margin-top: 0.35rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  color: hsl(0, 0%, 65%);
}

.expenses .expense.transport .categoryName {
  color: var(--color-category-transport);
}

.expenses .expense.plane .categoryName {
  color: var(--color-category-plane);
}

.expenses .expense.hotel .categoryName {
  color: var(--color-category-hotel);
}

.expenses .expense.food .categoryName {
  color: var(--color-category-food);
}

.expenses .expense .merchantAndUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-left: 0;
}

.expenses .expense .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

.expenses .expense .amount {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}

.expenses .expense .merchant {
  font-size: 1.5rem;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}

.expenses .expense .user {
  font-size: 1.15rem;
  color: hsl(0, 0%, 60%);
}

.expenses .expense .date {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}
