.expenseDetails {
  height: 100%;
  overflow: hidden;
}

.expenseDetails .attachmentSection {
  height: 5rem;
  background-color: green;
}

.expenseDetails .commentsSection {
  height: calc(100% - 6.5rem - 5rem - 5rem);
}

.expenseDetails .commentsSection .comments {
  height: calc(100% - 7.5rem);
  background-color: blue;
}

.expenseDetails .commentsSection .addComment {
  height: 7.5rem;
  background-color: yellow;
}
