.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: opacity;
}

.overlay.visible {
  opacity: 1;
}

.modal {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  transition-property: top, left, width, height, opacity;
  opacity: 0;
  box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 4%), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 8%);
}

.modal.open {
  top: calc((100% - 80vh) / 2);
  left: calc((100% - 600px) / 2);
  width: 600px;
  height: 80vh;
  opacity: 1;
}
