.modalContainer {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition-property: opacity;
}

.overlay.visible {
  opacity: 1;
}

.overlay.interactive {
  cursor: pointer;
}

.modal {
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  transition-property: top, left, width, height, opacity;
  opacity: 0;
  box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 4%), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 8%);
  overflow: hidden;
}

.modal.transitioningIn, .modal.open {
  top: calc(25rem / 2);
  left: calc((100% - 40rem) / 2);
  width: 40rem;
  height: calc(100vh - 25rem);
  opacity: 1;
  overflow: hidden;
}

.modal.open {
  overflow: visible;
}

.closeModalButton {
  width: 2rem;
  height: 2rem;
  position: absolute;
  top: 0;
  right: -2.5rem;
  font-size: 2rem;
  background-color: transparent;
  border: 0;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
