.commentSection {
  height: calc(100% - 6.5rem - 5rem - 5rem);
  /* Trigger stacking context for placeholder */
  position: relative;
}

.commentSection .quill {
  height: 100%;
}

.commentSection .ql-container {
  /* stylelint-disable-next-line unit-blacklist */
  height: calc(100% - 40px);
}

.commentSection .ql-toolbar {
  background-color: hsl(0, 0%, 95%);
}

.commentSection .ql-editor {
  font-size: 1rem;
}

.commentSection .placeholder {
  position: absolute;
  /* stylelint-disable-next-line unit-blacklist */
  top: 55px;
  /* stylelint-disable-next-line unit-blacklist */
  left: 16px;
  pointer-events: none;
  opacity: 0.5;
  transition: opacity 0.15s;
}

.commentSection .placeholder.invisible {
  opacity: 0;
}
