.amountFilter {
  margin-bottom: 1.5rem;
  padding-bottom: 2.5rem;
  border-bottom: var(--border-width-thin) solid hsl(0, 0%, 85%);
}

.amountFilter label {
  font-weight: 600;
  display: block;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 0.35rem;
}

.amountFilter input {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-family: Roboto, sans-serif;
}

.amountFilter .keyboardInputs {
  display: flex;
  align-items: center;
  margin-bottom: 1.75rem;
}

.amountFilter .keyboardInputs .connector {
  display: block;
  padding: 0 0.5rem;
}

.amountFilter .rangeInput {
  margin: 0 1rem;
}

.amountFilter .input-range__label {
  color: hsl(0, 0%, 50%);
  font-family: 'Roboto Condensed', sans-serif;
}

.amountFilter .input-range__slider {
  background-color: var(--color-brand);
  border-color: var(--color-brand);
  transition: transform 0.3s ease-out;
}

.amountFilter .input-range__slider:focus {
  box-shadow: 0 0 0.1rem 0.2rem hsl(217, 51%, 66%);
}

.amountFilter .input-range__track--active {
  background-color: var(--color-brand);
}
