.expense .expenseSummary {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 0;
  background-color: transparent;
  text-align: left;
}

.expense .expenseSummary .left {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.3rem solid hsl(0, 0%, 65%);
}

.expense.transport .expenseSummary .left {
  border-left-color: var(--color-category-transport);
}

.expense.plane .expenseSummary .left {
  border-left-color: var(--color-category-plane);
}

.expense.hotel .expenseSummary .left {
  border-left-color: var(--color-category-hotel);
}

.expense.food .expenseSummary .left {
  border-left-color: var(--color-category-food);
}

.expense .expenseSummary .category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 6rem;
  padding: 1rem 0;
}

.expense .expenseSummary .categoryIcon {
  background-color: hsl(0, 0%, 65%);
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  color: hsla(0, 0%, 100%);
}

.expense.transport .expenseSummary .categoryIcon {
  background-color: var(--color-category-transport);
}

.expense.plane .expenseSummary .categoryIcon {
  background-color: var(--color-category-plane);
}

.expense.hotel .expenseSummary .categoryIcon {
  background-color: var(--color-category-hotel);
}

.expense.food .expenseSummary .categoryIcon {
  background-color: var(--color-category-food);
}

.expense .expenseSummary .categoryName {
  margin-top: 0.35rem;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 0.7rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
  color: hsl(0, 0%, 65%);
}

.expense.transport .expenseSummary .categoryName {
  color: var(--color-category-transport);
}

.expense.plane .expenseSummary .categoryName {
  color: var(--color-category-plane);
}

.expense.hotel .expenseSummary .categoryName {
  color: var(--color-category-hotel);
}

.expense.food .expenseSummary .categoryName {
  color: var(--color-category-food);
}

.expense .expenseSummary .merchantAndUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  padding-left: 0;
}

.expense .expenseSummary .right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  text-align: right;
}

.expense .expenseSummary .amount {
  font-size: 1.5rem;
  font-weight: 600;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}

.expense .expenseSummary .amount.converted + .amount {
  font-size: 1rem;
  margin-top: -1rem;
  line-height: 1;
  transform: translateY(100%) translateY(0.25rem);
  color: hsl(0, 0%, 70%);
}

.expense .expenseSummary .merchant {
  font-size: 1.5rem;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}

.expense .expenseSummary .user {
  font-size: 1.15rem;
  color: hsl(0, 0%, 60%);
}

.expense .expenseSummary .date {
  margin-top: 0.3rem;
  font-size: 1rem;
  color: hsl(0, 0%, 60%);
  font-family: 'Roboto Condensed', sans-serif;
}
