.avatarWrapper {
  height: 100%;
  width: 6rem;
  position: relative;  /* Trigger stacking context for initials and profile picture */
}

.avatar img {
  border-radius: 0.5rem;
  height: 2.5rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  z-index: 1;
}

.avatar .initials {
  border-radius: 0.5rem;
  color: hsl(0, 0%, 100%);
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  height: 2.5rem;
  left: 50%;
  line-height: 2.5rem;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 2.5rem;
  box-shadow: 0 0.1rem 0.2rem hsla(0, 0%, 0%, 8%), 0 0.1rem 0.2rem hsla(0, 0%, 0%, 16%);
}
